:root {
	--color-background: #dddcea;
	--color-negative: #16161b;
	--color-negative-alpha: #dddcea80;
	--color-primary: #333a47;
	--color-secondary: #72798d;
	--color-text-light: #f7f7f7;
	--color-text-dark: #333a47;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #16161b;
		--color-negative: #dddcea;
		--color-negative-alpha: #dddcea80;
		--color-primary: #191c23;
		--color-secondary: #2c323f;
		--color-text-light: #f7f7f7;
		--color-text-dark: #191c23;
	}
}

$color-background: var(--color-background);
$color-negative: var(-color-negative);
$color-negative-alpha: var(color-negative-alpha);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-text-light: var(--color-text-light);
$color-text-dark: var(--color-text-dark);
