@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	--color-background: #dddcea;
	--color-primary: #333a47;
	--color-secondary: #72798d;
	--color-text-light: #f7f7f7;
	--color-text-dark: #333a47;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #16161b;
		--color-primary: #191c23;
		--color-secondary: #2c323f;
		--color-text-light: #f7f7f7;
		--color-text-dark: #191c23;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text-light);
	background: var(--color-background);
	line-height: 1.6;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
